*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: white;
    color: black;
}

nav{
   background: rgb(192, 152, 202); 
   color: aliceblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
   position: sticky;
   top: 0;
   z-index: 1000;

}

.logo{
    font-size: 30px;
    font-weight: bold;

}
.nav-droite{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Linkmenu a{
text-decoration: none;
color: #1e1e1e;
font-weight: bold;
cursor: pointer;
gap: 20px;


}
.Linkmenu a:hover{
    background: red;
    color: white;
}

.theme-btn{
    background: white;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;

}

.theme-btn:hover{
    background: blue;
}

.menu-toggle{
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.Accueil{
    background: url("couture\ ccl.png") center/cover;
    text-align: center;
    padding: 250px 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    gap: 20px;
}

.Services{
    padding: 60px 20px;
    text-align: center;
}
.Services h2:hover{
    color: white;
}

.Service-box{
    display: flex;
    justify-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    margin-top: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.card img{
    width: 100%
}

.Contact{
    padding: 250px 50px;
    text-align: center;
    background: url(couture\ ccl4.png) center/cover;
    font-weight: bold;
    color: aliceblue;
    font-size: 20px;
}

footer{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
footer p:hover{
    color: white;
}

/* dark mode */
.dark{
    background: #685e5e6e;
    color: black;
}

.dark nav{
    background: #856a6a71;
    
}

.dark footer{
    background: #524b4bcc;
}

.dark .card{
    background: #8a7b7b79;
}

.menu-toggle.active{
right: 0;
}
.Linkmenu.active{
    display: block;

}
.fon.active{
    display: block;
    flex-direction: column;
}

/* partie responsivite */

@media screen and (max-width:768px){
    .menu-toggle{
        display: block;
        z-index: 2000;
    }

    .Linkmenu{
        display: none;
        flex-direction: column;
        background: rgba(128, 128, 128, 0.562);
        position: fixed;
        top: 100px;
        padding: 60px;
        right: -10px;
        width: 200px;
        height: 100%;
        
        
    }
    
    .Service-box{
        display: block;
        flex-direction: column;
        z-index: 2000;
    }
    .Contact{
        display: block;
        font-size: 8px;
        z-index: 2000;
    }
    
}